.hero {
    padding: 60px 30px 30px 30px;
    background-color: #0691ff;
    color: white;
 
    width: 100vw;
   
  }
  
  .hero-title {
  
    max-width: 600px;
    font-size: 2.3rem;
    line-height: 55px;
    font-weight: 900;
   @media all and (min-width: 480px)  {
    font-size: 3.3rem;
    max-width: 750px;
    }
    @media all and (min-width: 1000px)  {
      
    }
     @media all and (max-width: 1000px)  {
      
    }
  }
  
  .hero-subtitle {
    margin-top: 20px;
    font-size: 1.3rem; 
    max-width: 345px;
    @media all and (min-width: 480px)  {
      max-width: 745px;
      }
  }
  
  .hero-plans {
    display: inline-block;
    margin-top: 30px;
    padding: 5px 25px;
    border-radius: 50px;
    background-color: #4bb84a;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  
  .hero-policy {
    display: block;
    margin-top: 30px;

    font-size: 10px;
    @media all and (min-width: 480px)  {
     
      max-width: 500px;
      }
      @media all and (min-width: 1000px)  {
        
      }
       @media all and (max-width: 1000px)  {
        
      }
  }